
#elemento{
    color: rgb(207, 194, 47);
    text-align: center;
    background-color: palegreen;
    font-size: 20px;
}




.várias{

    color: powderblue;
    background-color: plum;
    padding: 1px;
    border-bottom: solid 9px palegoldenrod;

}













